// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300;1,500&display=swap');
@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}
// .font-logo{
//     font-family: 'Comfortaa';
//     font-size: 2.4rem;
// }
